.add-item {
  justify-content: space-around;
  h2 {
    padding: 0 15rem;
  }

  @include respond(tab-port) {
    text-align: center;

    h2 {
    min-width: 100%;
    padding: 0 9rem;
    }
  }

  @include respond(phone) {
    h2 {
      padding: 0 3rem;
    }

  }


}

#display-image{
  width: 400px;
  height: 225px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}
