.landing {
  &__cta-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 8rem 0;
    align-items: center;
    justify-content: space-around;
    position: relative;
    align-items: stretch;
  }

  &__cta-div {
    border-radius: 1rem;
    padding: 5rem 6rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.15);
    text-align: center;
    width: 36%;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 3rem;
    }

    &__header {
      font-size: 3rem;
    }
  }

  &__text {
    width: 80%;
    max-width: 100rem;
    text-align: center;
    margin: 7rem auto 0 auto;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

  // &__header {
  //   text-align: center;
  //   text-transform: uppercase;
  //   letter-spacing: .1rem;
  //   font-size: 5rem;
  //   color: $color-light-grey;
  //   // padding: 10rem;
  //   // border-bottom: 1px solid var(--color-light-grey);
  //   border: none;
  //   margin: 0;
  //   position: absolute;
  //   bottom: 20px;
  //   color: orangered;
  // }

.header {
  position: relative;

  @keyframes fade-in {
    0% {
      transform: rgba($color-header, 0);
    }
    100% {
      transform: rgba($color-header, 1);
    }
  }

  animation: 4s ease-out fade-in;

  &__landing-header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 14rem;
    line-height: 11rem;
    color: $color-white;
    // padding: 10rem;
    // border-bottom: 1px solid var(--color-light-grey);
    border: none;
    padding: 0;
    position: absolute;
    bottom: -1rem;
    margin: 0 auto;
    width: 100%;

    &__eyebrow {
      font-size: 5rem;
      line-height: normal;
    }

  }

}
