.landing {
  &__cta-wrapper {
    display: flex;
    margin: 8rem 0;
    align-items: center;
    justify-content: space-around;
  }

  &__cta-div {
    border-radius: 1rem;
    padding: 5rem 6rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.15);
    text-align: center;
    width: 36%;
    max-width: 45rem;
  }

  &__text {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 5rem;
    padding: 10rem;
  }
}
