.needy-landing {

  &__div {
    display: flex;

    align-content: center;
    flex-wrap: wrap;
  }

  &__bio {
    background-color: $color-ultra-light-cyan;
    padding: 4rem;

    &-div {
      width: 55%;

      @include respond(tab-land) {
        width: 100%;
      }
    }

    &-img {

      @include respond(phone) {
        margin: 0 auto 2rem auto;
      }

      & div {
        height: 15rem;
        width: 15rem;
        margin-right: 1rem;
        border-radius: 800px;
        background-color: $color-dark-grey;
      }

    }

    &-text-div {
      flex-shrink: 0;
      width: 28rem;

      @include respond(phone) {
        width: 100%;
        margin: 0 auto 2rem auto;
        text-align: center;
      }
      // display: flex;
      // flex-direction: column;
    }

    &-p {
      margin-bottom: 2.5rem;
      font-weight: 600;
      position: relative;
    }

    p {
      display: inline-block;
      position: absolute;
      top: .4rem;
    }

    &-label {
      color: $color-white;
      font-size: 1.2rem;
      text-transform: uppercase;
      background-color: $color-dark-grey;
      display: inline-block;
      padding: .8rem 1rem;
      border-radius: 177rem;
      margin-right: .5rem;

    }

    &-btn {
      display: block;
    }

  }

  &__credits-div {

    &__ul {
      // width: 30%;
      display: flex;
      flex-wrap: wrap;

      & li {
        min-width: 33.333%;

        @include respond(tab-port) {
          min-width: 50%;
        }

        @include respond(phone) {
          min-width: 100%;
        }

      }
    }

  }

  & .activity {
    // width: 60%;
  }

  &__donated {
    display: flex;
    flex-wrap: wrap;

    & li {
      min-width: 50%;

      @include respond(tab-port) {
        min-width: 100%;
      }
    }


  }
}
