
.signup {

  &__div {
    width: 40%;
    margin: 0 auto;

    &__div {
      display: flex;
      align-items: center;
      margin: 2rem 1rem;
    }

    & form label { 
      margin-top: 0; 
      padding: 0 1.6rem 0 0.8rem;
    }

    & input[type=radio] {
      width: auto;
    }

  }

  &__form {
    margin: 0 auto;
  }



}
