.App {
  text-align: left;
}

 /*
 dark blue #1e6694;
 blue black #103852;
 sea foam green #7fc0ae
 sea foam hover #2e938f
 sea foam hover text #9ad5c6
 marine green #267a77
 grey blue #275775
 burnt orange #9f5c26
 grey brown #cbae89
 light cyan #b9edf8
 ultra-light cyan #d9f0f5
 cyan #61d0e7

 Roboto weights 300; 400; 700; 900
 */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }


 body {
   font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #ffffff;
   color: #103852;
 }

 nav {
  background-color: #1e6694;
  padding: 6em 3em;
  font-weight: 700;
  font-size: 1.2em;
  color: #c9edf5;
  text-transform: uppercase;
  background-image: url("../images/alley_bw.jpg");
  background-position: center;
  background-size: cover;
}

nav a {
  text-decoration-line: none;
  color: #c9edf5;
  margin: 0 .5em;
}

nav a:hover {
  color: white;
}

nav img {
  opacity: 0.5;
}

 subhead {
   text-transform: uppercase;
   display: block;
   margin: 1.5em 0 0.8em 0;
 }

 activity {
   background-color: #d9f0f5;
   padding: 1.5em;
   border-radius: 5px;
   margin: 2em 0;
   display: block;
 }

 footer nav {
   padding-top: .5em;
   margin-top: 3em;
   border-top: 2px solid #bbb;
   background-image: none;
   background-color: #fff;
 }

 footer nav a {
   color: #888;
   font-size: 0.9em;
   font-weight: 500;
 }

 footer nav a:hover {
   color: #333;
 }

 #content {
   width: 80%;
   /* margin: 2.5em auto 2em auto; */
   margin: 0 auto 0 auto;
   padding: 1.4em;
 }

 #content a {
   background-color: #267a77;
   display: inline-block;
   padding: .6em .8em;
   margin: .25em .25em .25em 0;
   text-decoration: none;
   text-transform: uppercase;
   font-size: .8em;
   color: white;
   border-radius: 3px;
 }

 #content a:hover {
   background-color: #2e938f;
 }

 #content a.plain {
   color: #267a77;
   font-size: .85em;
   background-color: white;
   padding: .6em 0;
   margin: 0;
 }

 #content a.plain:hover {
   color: #9ad5c6;
 }

ul  {
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid #999999;
  padding: 1em;
  text-transform: capitalize;
  margin-top: .5em;
  border-radius: 3px;
}

li:hover {
  background-color: #d9f0f5;
}

input {
  font-family: 'Roboto', sans-serif;
  display: block;
}

form label {
  margin-top: 1.5em;
  display: block;
}

input[type='checkbox'] {
  margin: auto .5em auto 0;
}

input[type='submit'] {
  background-color: #267a77;
  display: inline-block;
  padding: .6em .8em;
  margin: 1.5em .25em .25em 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #2e938f;
}

textarea {
  font-family: Roboto;
  width: 200px;
  height: 80px;
}

h1  {
  color: #9f5c26;
  border-bottom: 1px solid;
  padding-bottom: .25em;
}

h2  {
  margin-top: 1em;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

.emphasis {
  font-size: 1.3em;
  font-weight: 700;
  margin-top: .75em;
}

.error {
  margin-top: .5em;
  color: white;
  padding: 1em;
  background-color: #a31637;
  border-radius: 10px;
  font-size: 1em;
  border: 0;
  font-weight: 500;
}

.alert {
  margin-top: .5em;
  color: white;
  padding: 1em;
  background-color: #cbae89;
  border-radius: 10px;
  font-size: 1em;
  border: 0;
  font-weight: 500;
}

.field_with_errors {
  color: red;
  display: inline-block;
}

.field_with_errors input {
  border-color: red;
  border-style: solid;
  color: red;
}

.callout {
  margin-bottom: -.5em;
}

.about {
  font-size: 1em;
  width: 80%
}

.bio {
  width: 80%;
}

.needy_list {
  padding-bottom: 1.5em;
}

.needy_list h4 {
  font-size: 1.2em;
  margin-bottom: 0;
  border-bottom: solid 1px;
  padding-bottom: .25em;
}
