.App {
  text-align: left;
}

 /*
 dark blue #1e6694;
 blue black #103852;
 sea foam green #7fc0ae
 sea foam hover #2e938f
 sea foam hover text #9ad5c6
 marine green #267a77
 grey blue #275775
 burnt orange #9f5c26
 grey brown #cbae89
 light cyan #b9edf8
 ultra-light cyan #d9f0f5
 cyan #61d0e7

 Roboto weights 300; 400; 700; 900
 */

 *, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
 }

 html {
   font-size: 100%;
   /* set to 16px for easy fix */
 }

 body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #ffffff;
   color: #103852;
   box-sizing: border-box;
 }

 nav {
  background-color: #1e6694;
  padding: 6em 3rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: #c9edf5;
  text-transform: uppercase;
  background-image: url("../images/alley_bw.jpg");
  background-position: center;
  background-size: cover;
}

nav a {
  text-decoration-line: none;
  color: #c9edf5;
  margin: 0 .5rem;
}

nav a:hover {
  color: white;
}

nav img {
  opacity: 0.5;
}

 subhead {
   text-transform: uppercase;
   display: block;
   margin: 0 0 .8rem 0;
   font-size: 1.2rem;
   font-weight: 700;
 }

 activity {
   background-color: #d9f0f5;
   padding: 1.5rem;
   border-radius: 0.5rem;
   margin: 2rem 0;
   display: block;
 }

 footer nav {
   padding-top: .5rem;
   margin-top: 3rem;
   border-top: 2px solid #bbb;
   background-image: none;
   background-color: #fff;
 }

 footer nav a {
   color: #888;
   font-size: 0.9rem;
   font-weight: 500;
 }

 footer nav a:hover {
   color: #333;
 }

 #content {
   width: 80%;
   /* margin: 2.5em auto 2em auto; */
   margin: 0 auto 0 auto;
   padding: 1.4rem;
 }

 #content a {
   background-color: #267a77;
   display: inline-block;
   padding: .6rem .8rem;
   margin: .25rem .25rem .25rem 0;
   text-decoration: none;
   text-transform: uppercase;
   font-size: .8rem;
   color: white;
   border-radius: 0.3rem;
 }

 #content a:hover {
   background-color: #2e938f;
 }

 #content a.plain {
   color: #267a77;
   font-size: .85rem;
   background-color: white;
   padding: .6rem 0;
   margin: 0;
 }

 #content a.plain:hover {
   color: #9ad5c6;
 }

ul  {
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid #999999;
  padding: 1rem;
  text-transform: capitalize;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}

li:hover {
  background-color: #d9f0f5;
}

input {
  font-family: 'Roboto', sans-serif;
  display: block;
}

form label {
  margin-top: 1.5rem;
  display: block;
}

input[type='checkbox'] {
  margin: auto .5rem auto 0;
}

input[type='submit'] {
  background-color: #267a77;
  display: inline-block;
  padding: .6rem .8rem;
  margin: 1.5rem .25rem .25rem 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  color: white;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #2e938f;
}

textarea {
  font-family: Roboto;
  width: 20rem;
  height: 8rem;
}

h1  {
  color: #9f5c26;
  border-bottom: 1px solid;
  padding-bottom: .25rem;
}

h2  {
  margin-top: 1rem;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

.cta-wrapper {
  display: block;
  /* text-align: center; */
  margin: 1rem 0
}

.cta {
  text-align: center;
  display: inline-block;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 0 2rem 0 0;
}

.emphasis {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: .75rem;
}

.error {
  margin-top: .5rem;
  color: white;
  padding: 1rem;
  background-color: #a31637;
  border-radius: 1rem;
  font-size: 1em;
  border: 0;
  font-weight: 500;
}

.alert {
  margin-top: .5rem;
  color: white;
  padding: 1rem;
  background-color: #cbae89;
  border-radius: 1rem;
  font-size: 1rem;
  border: 0;
  font-weight: 500;
}

.field_with_errors {
  color: red;
  display: inline-block;
}

.field_with_errors input {
  border-color: red;
  border-style: solid;
  color: red;
}

.callout {
  margin-bottom: -.5rem;
}

.about {
  font-size: 1rem;
  width: 80%
}

.bio {
  width: 80%;
}

.needy_list {
  padding-bottom: 1.5rem;
}

.needy_list h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  border-bottom: solid 1px;
  padding-bottom: .25rem;
}
