#content {
  width: 95%;
  margin: 0 auto 0 auto;
  padding: 1.4rem;

  & a {
    background-color: $color-marine-green;
    display: inline-block;
    padding: .6rem .8rem;
    margin: .25rem .25rem .25rem 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: white;
    border-radius: 0.3rem;
  }

  & a:hover {
    background-color: lighten($color-marine-green, 25%);
  }

  & a.cta__plain {
    color: $color-marine-green;
    font-size: 1.5rem;
    background-color: white;
    padding: .6rem 0;
    margin: 0;

    &:hover {
      color: lighten($color-marine-green, 25%);
    }
  }

}
