.footer {
  height: 20rem;
  background-color: $color-light-grey;
}

footer nav {
  padding-top: 1.4rem;
  margin-top: 3rem;
  border-top: 2px solid #ddd;
  background-image: none;
  background-color: transparent;
  height: 100%;
  align-items: flex-start;
}

footer .nav {
  &:hover {
    background-color: $color-light-grey;
  }
}

footer nav a {
  color: $color-darker-grey;
  font-size: 1.5rem;
  font-weight: 500;
}

footer nav a:hover {
  color: lighten($color-darker-grey, 20%);
}
