.header {
  background-color: #1e6694;
  height: 40vh;
  background-image:
    linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.601),
    rgba(40, 180, 133, 0.608)),
    url("../../images/alley_bw.jpg");
  background-position: center;
  background-size: cover;

  &-needy {
    background-image:
      linear-gradient(
      to right bottom,
      rgba($color-burnt-orange, 0.601),
      rgba($color-grey-blue, 0.608)),
      url("../../images/alley_bw.jpg");
  }
}
