.nav {
  font-size: 1.5rem;
  background-color: rgba(0,0,0, .5);
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  text-transform: uppercase;


  &__links {
    display: block;
    margin: 0 auto 0 0;
    padding: 1.4rem;
  }

  &__login {
    display: flex;
  }

  &:hover {
    background-color: rgba(0,0,0, .8);
  }

  & a {
    text-decoration-line: none;
    color: var(--color-ultra-light-cyan);
    margin: 0 2rem 0 0;
  }

  & a:hover {
    color: var(--color-white);
  }

  & img {
    opacity: 0.5;
  }
}

.nav__login {
  display: flex;
  align-items: center;

  &__div {
    margin-right: 1rem;
    font-size: 2rem;
  }

}
