.user {
    & li {
        border: none;
    }

    &__dashboard {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-end;
        align-items: flex-start;

        li {
            margin: 2rem 2rem 2rem 0;
        }

        & h2 {

        }

        & h3 {
            width: 100%;
            
        }

        &-donations {
            min-width: 100%;
            height: 20rem;
        }

        &-dashboard {
            min-width: 50%;
            margin: 2rem 0;
        }

        &-users {
            width: 30%;
            height: 20rem;


            & li {
                min-height: 20rem;
                display: block;
                background-color: $grey-light;
                margin-top: 1.5rem;
                min-width: 30%;
            }
        }

        &__items {

            &-wrapper {
                background-color: $coral-light;
                width: 70%;
                padding: 2rem;
            }

            display: flex;
            width: 100%;
            flex-wrap: wrap;

            &-h3 {
                
            }

            &-div {
                padding: 2rem;
                margin: 1rem;
                background-color: $coral-light;
            }

            &-p {
                width: 20rem;
            }
        }


    }



}