.user {
    & li {
        border: none;
    }

    &__dashboard {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-end;
        align-items: flex-start;

        li {
            margin: 2rem 2rem 2rem 0;
        }

        & h2 {

        }

        & h3 {
            width: 100%;
        }

        &-donations {
            min-width: 100%;
            height: 20rem;
        }

        &-dashboard {
            min-width: 50%;
            margin: 2rem 0;
        }

        &-users {
            width: 30%;
            height: 20rem;


            & li {
                height: 20rem;
                display: block;
                background-color: $grey-light;
            }
        }

        &-stats {
            width: 70%;
            
            & li {
                height: 20rem;
                display: block;
                background-color: $coral-light;
            }
        }


    }



}