// COLORS
$color-dark-blue: #1e6694;
$color-blue-black: #103852;
$color-seafoam-green: #7fc0ae;
$color-seafoam-green-hover: #2e938f;
$color-seafoam-hover-text: #9ad5c6;
$color-marine-green: #267a77;
$color-grey-blue: #275775;
$color-burnt-orange: #9f5c26;
$color-grey-brown: #cbae89;
$color-light-cyan: #b9edf8;
$color-ultra-light-cyan: #d9f0f5;
$color-cyan: #61d0e7;
$color-light-grey: #eee;
$color-dark-grey: #999;
$color-darker-grey: #777;
$color-middle-grey: #555;
$color-white: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

:root {
  --color-dark-blue: #1e6694;
  --color-blue-black: #103852;
  --color-seafoam-green: #7fc0ae;
  --color-seafoam-green-hover: #2e938f;
  --color-seafoam-hover-text: #9ad5c6;
  --color-marine-green: #267a77;
  --color-grey-blue: #275775;
  --color-burnt-orange: #9f5c26;
  --color-grey-brown: #cbae89;
  --color-light-cyan: #b9edf8;
  --color-ultra-light-cyan: #d9f0f5;
  --color-cyan: #61d0e7;
  --color-light-grey: #eee;
  --color-dark-grey: #999;
  --color-darker-grey: #777;
  --color-middle-grey: #555;
  --color-white: #fff;
}
