*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 100%; */
  /* set to 16px for easy fix */
  font-size: 62.5%;
  /* makes 1 rem be 10px */
}

body {
  box-sizing: border-box;
  background-color: $color-light-grey;
}

ul  {
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid $color-dark-grey;
  padding: 1.5rem;
  text-transform: capitalize;
  margin-top: 0.8rem;
  border-radius: 0.6rem;
  transition: all .3s;

  &:hover {
    background-color: $color-ultra-light-cyan;
  }

}

input, textarea {
  font-family: inherit;
  display: block;
  border-style: none;
  background-color: $color-light-grey;
  padding: 0.8rem;
  border-radius: 0.2rem;
  margin: .5rem 0;
  width: 100%;
  font-size: 1.6rem;

  &[type='checkbox'] {
    margin: auto .8rem auto 0;
  }

  &[type='submit'] {
    background-color: $color-marine-green;
    display: inline-block;
    padding: 1rem 1.2rem;
    margin: 1.5rem .25rem .25rem 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    width: auto;
    transition: all .3s;
    @include respond(phone) {
      min-width: 100%;
    }
  }

  &[type='submit']:hover {
    background-color: lighten($color-marine-green, 15%);
  }

}

form label {
  margin-top: 1.8rem;
  display: block;
  font-weight: 700;
  color: $color-middle-grey;
  font-size: 2rem;
}


textarea {
  font-family: Roboto;
  // width: 20rem;
  height: 16rem;
  border-style: none;
  background-color: $color-light-grey;
  padding: .8rem;
  border-radius: 0.4rem;
  margin: .5rem 0;
}
